.bewerbungsfoto {
    border-radius: 50%;
    border: 5px solid rgb(151, 162, 128);
    box-align: center;
}

.image-container {
    text-align: center;
    border-radius: 100px;
    border: 5px solid rgb(151, 162, 128);
    box-align: center;
    padding: 5px 0 3px 0;
    margin: 20px 0 20px 0;
    background-color: rgb(205, 209, 179);
}

h1{
    background-color: rgb(238, 230, 217);
    color: rgb(76, 84, 59);
    border-radius: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2{
    font-size: 22px;
    text-align: center;
    color: black;
    border-radius: 20px;
    padding: 7px 10px 7px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(226, 217, 200);
    font-weight: 900;
    text-align: center;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email {
    background-color: rgb(205, 209, 179);
    color: white;
    border-radius: 20px;
    margin: 7px 0 7px 3px;
    padding: 7px 10px 7px 10px;
}

.telefon {
    background-color: rgb(205, 209, 179);
    color: white;
    border-radius: 20px;
    margin: 7px 0 7px 3px;
    padding: 7px 10px 7px 10px;
}

.wohnort {
    background-color: rgb(205, 209, 179);
    color: white;
    border-radius: 20px;
    margin: 7px 0 7px 3px;
    padding: 7px 10px 7px 10px;
}

.accordion-content hidden {
    background-color: rgb(205, 209, 179);
    color: white;
    border-radius: 20px;
    margin: 7px 0 7px 3px;
    padding: 7px 10px 7px 10px;
}

a {
    display: block;
    text-align: center;
}

.accordion-button-container {
    display: flex;
    gap: 10px;
}

.accordion {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion-button {
    background-color: rgb(205, 209, 179);
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    text-align: central;
    border: 3px solid rgb(151, 162, 128);
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 0 5px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.accordion-button:hover {
    background-color: rgb(151, 162, 128);
    color: white;
}

.accordion-content {
    padding: 0 15px 0 15px;
    overflow: hidden;
    background-color: rgb(151, 162, 128);
    border-radius: 20px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    
}

p {
    color:rgb(246, 240, 232);
}

.einleitung {
    color: rgb(151, 162, 128);
}

.accordion-content p {
    margin: 15px 0;
}

.hidden {
    display: none;
}
